* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*  */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/coquette.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

/* Dentro do quadrado e o quadrado */
.wrapper {
    width: 420px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
}

/* Nome Login */
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

/* Usuário e Senha */
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/* Quadrado do Login */
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

/* Cor do usuário e senha */
.input-box input::placeholder {
    color: #ffffff;
}

/* Desenho do usuário e senha */
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* Esqueceu senha e lembrar de mim */
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

;.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

/* Esqueceu a senha */
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

/* Sublinhamento quando cursor do mouse passar em cima */
.remember-forgot a:hover {
    text-decoration: underline;
}

/* Botão de Login */
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

/* Cadastrar uma conta */
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

/* Encaminhar para fazer cadastro */
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

/* Sublinhamento quando cursor do mouse passar em cima */
.register-link p a:hover {
    text-decoration: underline;
}